[Unit]
Description=Secure Debug Access service
After=rc-local.service
#Requires=
Type=idle

[Service]
ExecStart=/usr/bin/sudo /usr/local/bin/posixdaemon_app -k <key file path and file name> -c <cert file path and file name> -p <password>
Restart=on-failure
RestartSec=5s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
